<!-- <div class="container-fluid" style="margin-bottom:0">
    <br>
    <div class="row mx auto">
        <div class="card mt-5 mb-5 mx-auto text-center" style="width: 20rem;">
            <img class="card-img-top image-fluid" src="https://images.pexels.com/photos/187041/pexels-photo-187041.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
                alt="Card image cap">
            <div class="card-body text-center">
         <div class="row h-100"> 
                <a routerLink="/register" class="btn btn-primary btn-block mt-auto align-self-end stretched-link">Manage User</a>
            </div>
         </div>
        </div>
        <div class="card mt-5 mb-5 mx-auto text-center" style="width: 20rem;">
            <img class="card-img-top image-fluid" src="https://images.pexels.com/photos/187041/pexels-photo-187041.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
                 alt="Card image cap">
            <div class="card-body text-center">
                <div class="row h-100"> 
                <a routerLink="/register" class="btn btn-primary btn-block mt-auto align-self-end stretched-link">Manage User</a>
                </div>
            </div>
        </div>
        <div class="card mt-5 mb-5 mx-auto text-center" style="width: 20rem;">
            <img class="card-img-top image-fluid" src="https://images.pexels.com/photos/187041/pexels-photo-187041.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
                alt="Card image cap">
            <div class="card-body text-center">
                
                <a routerLink="/register" class="btn btn-primary btn-block mt-auto align-self-end stretched-link">Manage User</a>
                
            </div>
        </div>
        <div class="card mt-5 mb-5 mx-auto text-center" style="width: 20rem;">
            <img class="card-img-top image-fluid" src="https://images.pexels.com/photos/187041/pexels-photo-187041.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
                alt="Card image cap">
            <div class="card-body text-center">
                
                <a routerLink="/register" class="btn btn-primary btn-block mt-auto align-self-end stretched-link">Manage User</a>
               
            </div>
        </div> -->

         <div class="container">
            <div class="container">
                <div class="list-group">
                    <a  routerLink= "/comparesector" class="list-group-item list-group-item-light">Compare sectors</a>
                    <a  routerLink= "/comparison" class="list-group-item list-group-item-light">Comparison</a>
                    <a routerLink="/iposlist" class="list-group-item list-group-item-light">Actual IPO List</a>
                  </div>
            </div>
        </div> 
