
    <div class="container" style="margin-bottom:0">
        <form [formGroup]="updateUser">
            <div class="form-group" style="color: white;">
          
              <label for="username">Name</label>
              <input type="text" formControlName="username" placeholder="enter name" name="username" class="form-control" id="username">
            </div>
            <div class="form-group" style="color: white;">
              <label for="id">Id</label>
              <input type="number" formControlName="id" placeholder="enter id" name="id" class="form-control" id="id">
            </div>
             
         
            <div class="form-group" style="color: white;">
              <label for="email">Email</label>
              <input type="email" email="true" formControlName="email" placeholder="email" name="email" class="form-control" id="email">
            </div>
            <div class="form-group" style="color: white;">
              <label for="phoneno">Phone number</label>
              <input type="number" formControlName="phoneno" placeholder="enter number" name="phoneno" class="form-control" id="phoneno">
            </div>
            
            <button class="btn btn-success" (click)="updateTheUser()" [disabled]="!updateUser">Update user</button>
        </form> 
       </div>