<table border="1">
    <tr>
        <th>Id</th>
        <th>CompanyName</th>
        <th>StockExchange</th>
        <th>TotalNoOfShares</th>
        <th>PricePerShare</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let ipos of ipos">
        <td>{{ipos.id}}</td>
        <td>{{ipos.companyname}}</td>
        <td>{{ipos.stockexchange}}</td>
        <td>{{ipos.pricepershare}}</td>
        <td>{{ipos.totalnoofshares}}</td>
        <td><button class="btn btn-danger" (click)="deleteIPO(ipos)">Delete</button>
        <button class="btn btn-danger" (click)="updateIPO(ipos)">Update</button></td>
    </tr>
</table>