<div class="container" style="margin-bottom:0">
    <form [formGroup]="loginForm" novalidate class="form"  (ngSubmit)="submit()">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
        <div class="form-group" style="color: white;">
            <label for="email">Email</label>
            <input type="email" email="true" formControlName="email" placeholder="email" name="Enter the email Id" class="form-control" id="email" required>
        </div>
        <div class="form-group" style="color: white;">
            <label for="password">Password</label>
            <input type="password" formControlName="password" placeholder="password" name="password" class="form-control" id="password" required>
        </div>
          <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid">Submit</button>
          </div>
        </div>
    </form> 
</div>