<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<div class="container">
    <div class="container">
        <div class="list-group">
            <a routerLink= "/users" class="list-group-item list-group-item-light"><i class='fas fa-user-friends' style='font-size:20px'></i>&nbsp; Users List</a>
            <a routerLink="/register" class="list-group-item list-group-item-light"><i class='fas fa-user-plus' style='font-size:20px'></i>&nbsp; Add User</a>
            <a routerLink="/importdata" class="list-group-item list-group-item-light"><i class="fas fa-file-excel" style='font-size: 20px;'> </i>&nbsp; Upload Excel</a>
            <a routerLink="/managecompany" class="list-group-item list-group-item-light"><i class='fas fa-building' style='font-size:20px'></i>&nbsp; Add company</a>
            <a routerLink="/displaycompanies" class="list-group-item list-group-item-light"><i class='fas fa-city' style='font-size:20px;'></i>Companies list</a>
            <a routerLink="/ipos" class="list-group-item list-group-item-light">Manage IPO</a>
            <a routerLink="/stockexchange" class="list-group-item list-group-item-light"><i class='fas fa-chart-line' style='font-size:20px'></i>&nbsp; Add StockExchange</a>
            <a routerLink="/displaystockexchanges" class="list-group-item list-group-item-light"><i class='fas fa-chart-area' style='font-size: 20px;'></i>StockExchanges List</a>
            
          </div>
    </div>
</div>
 
