<div class="container">
    <div class="container">
        <div class="list-group">
            <a  routerLink= "/users" class="list-group-item list-group-item-success">Get Users Details</a>
            <a  routerLink="/register" class="list-group-item list-group-item-success">Add User</a>
            <a routerLink="/importdata" class="list-group-item list-group-item-success">Upload Excel</a>
            <!-- <a routerLink="/newcompany" class="list-group-item list-group-item-success">Add Company</a> -->
            <a routerLink="/managecompany" class="list-group-item list-group-item-success">Manage company</a>
            <a routerLink="/ipos" class="list-group-item list-group-item-success">Manage IPO</a>
            <!-- <a routerLink="/addipo" class="list-group-item list-group-item-success">Add IPO</a> -->
            <a routerLink="/displaycompanies" class="list-group-item list-group-item-success">Companies list</a>
            
          </div>
    </div>
</div>

